<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="QueryPara" type="cn.com.chinalife.ecdata.entity.query.QueryPara" />
        <typeAlias alias="RegisterUser" type="cn.com.chinalife.ecdata.entity.user.RegisterUser" />
        <typeAlias alias="ActiveUser" type="cn.com.chinalife.ecdata.entity.user.ActiveUser" />
        <typeAlias alias="UserSource" type="cn.com.chinalife.ecdata.entity.user.UserSource" />
        <typeAlias alias="LogUser" type="cn.com.chinalife.ecdata.entity.user.LogUser" />
        <typeAlias alias="Auth" type="cn.com.chinalife.ecdata.entity.Auth" />
        <typeAlias alias="Premium" type="cn.com.chinalife.ecdata.entity.trade.Premium" />
        <typeAlias alias="Order" type="cn.com.chinalife.ecdata.entity.trade.Order" />
        <typeAlias alias="Branch" type="cn.com.chinalife.ecdata.entity.trade.Branch" />
        <typeAlias alias="SalesmanRelated" type="cn.com.chinalife.ecdata.entity.salesman.SalesmanRelated" />
        <typeAlias alias="AnalysisIndex" type="cn.com.chinalife.ecdata.entity.combine.AnalysisIndex" />
    </typeAliases>
</configuration>

