<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"

        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias alias="QueryPara" type="cn.com.chinalife.ecdata.entity.query.QueryPara" />
        <typeAlias alias="RegisterUser" type="cn.com.chinalife.ecdata.entity.user.RegisterUser" />
        <typeAlias alias="UserSource" type="cn.com.chinalife.ecdata.entity.user.UserSource" />
        <typeAlias alias="LogUser" type="cn.com.chinalife.ecdata.entity.user.LogUser" />
        <typeAlias alias="Auth" type="cn.com.chinalife.ecdata.entity.Auth" />
    </typeAliases>
</configuration>

