<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.user.ActiveUserSQLDao">

    <insert id="updateActive" parameterType="java.util.List">
        INSERT INTO DMP_SELECT.STAT_RESULT
        (STAT_TIME,STAT_TIME_SPAN, INDEX_NAME, INDEX_VALUE, INDEX_SOURCE, CREATE_TIME,UPDATE_TIME)
        SELECT t1.startDate,t1.timeSpan,t1.indexName,t1.activeUserNum,t1.userSource,t1.createTime,t1.updateTime FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.startDate,jdbcType=VARCHAR} startDate,
            #{item.timeSpan,jdbcType=VARCHAR} timeSpan,
            #{item.indexName,jdbcType=VARCHAR} indexName,
            #{item.activeUserNum,jdbcType=NUMERIC} activeUserNum,
            #{item.userSource,jdbcType=VARCHAR} userSource,
            sysdate createTime,
            sysdate updateTime
            FROM dual
        </foreach>
        ) t1
    </insert>

    <select id="getDateActiveUserNumOfAllSourcesFromStatResult" resultType="ActiveUser" parameterType="QueryPara">
        SELECT
        STAT_TIME statDate,INDEX_SOURCE userSource,INDEX_VALUE activeUserNum
        FROM DMP_SELECT.STAT_RESULT
        WHERE INDEX_NAME = 'activeNum' AND STAT_TIME_SPAN='D' AND
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        ORDER BY INDEX_VALUE DESC,INDEX_SOURCE,STAT_TIME
    </select>

    <select id="getMonthActiveUserNumOfAllSourcesFromStatResultWithoutEBaoZhang" resultType="ActiveUser"
            parameterType="QueryPara">
        SELECT
        T1.STATDATE statDate,T1.INDEX_SOURCE userSource,T1.INDEX_VALUE activeUserNum
        FROM ( SELECT SUBSTR (STAT_TIME, 0, 7) AS statDate,INDEX_SOURCE,INDEX_VALUE
		FROM
			DMP_SELECT.STAT_RESULT
		WHERE
			INDEX_NAME = 'activeNum'
		AND STAT_TIME = CONCAT (#{startDate}, '-01')
		AND STAT_TIME_SPAN = 'M' AND INDEX_SOURCE != '国寿e宝'
		ORDER BY
			CREATE_TIME DESC
	    ) T1 WHERE ROWNUM
	    <![CDATA[
                    <=
        ]]>
	    (
	    SELECT
			COUNT (DISTINCT index_source)
		FROM
			DMP_SELECT.STAT_RESULT
		WHERE
			index_name = 'activeNum'
		AND stat_time = CONCAT (#{startDate}, '-01')
		AND stat_time_span = 'M' AND INDEX_SOURCE != '国寿e宝'
	    ) ORDER BY T1.INDEX_VALUE DESC
    </select>

    <select id="getMonthActiveUserNumOfAllSourcesFromStatResultForEBaoZhang" resultType="ActiveUser"
            parameterType="QueryPara">
        SELECT
        T1.STATDATE statDate,T1.INDEX_SOURCE userSource,T1.INDEX_VALUE activeUserNum
        FROM ( SELECT SUBSTR (STAT_TIME, 0, 7) AS statDate,INDEX_SOURCE,INDEX_VALUE
        FROM
        DMP_SELECT.STAT_RESULT
        WHERE
        INDEX_NAME = 'activeNum'
        AND STAT_TIME = CONCAT (#{startDate}, '-01')
        AND STAT_TIME_SPAN = 'M' AND INDEX_SOURCE = '国寿e宝'
        ORDER BY
        CREATE_TIME DESC
        ) T1 WHERE ROWNUM
        <![CDATA[
                    <=1
        ]]>
    </select>

    <select id="getActiveUserNumOfEBaoZhang" resultType="ActiveUser" parameterType="QueryPara">
        SELECT
        <if test='timeSpan == "D"'>
            TO_CHAR (CALLTIME, 'YYYY-MM-DD')
        </if>
        <if test='timeSpan == "M"'>
            concat(TO_CHAR (CALLTIME, 'YYYY-MM'),'-01')
        </if>
        startDate,'国寿e宝' userSource,COUNT (DISTINCT USERID) activeUserNum,#{timeSpan} timeSpan,'activeNum' indexName
        FROM DMP_ITG.EBAOZHANG_LOGIN
        WHERE
        <![CDATA[
			        CALLTIME >= TO_DATE (concat(#{startDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
		        ]]>
        <![CDATA[
                    and CALLTIME <= TO_DATE (concat(#{endDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        ]]>
        GROUP BY
        <if test='timeSpan == "D"'>
            TO_CHAR (CALLTIME, 'YYYY-MM-DD')
        </if>
        <if test='timeSpan == "M"'>
            TO_CHAR (CALLTIME, 'YYYY-MM')
        </if>
    </select>

    <select id="getLatestDateOfEBaoZhang" resultType="java.lang.String" parameterType="QueryPara">
        SELECT MAX (STAT_TIME) FROM DMP_SELECT.STAT_RESULT
        WHERE index_name = 'activeNum' AND INDEX_SOURCE = '国寿e宝'
    </select>

    <select id="getActiveUserNumOfAllSourcesFromStatResultForTrendOfDate" resultType="ActiveUser" parameterType="QueryPara">
        SELECT INDEX_SOURCE userSource,SUM ( CASE WHEN STAT_TIME = to_char(sysdate-7,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf7,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-6,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf6,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-5,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf5,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-4,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf4,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-3,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf3,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-2,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf2,
        SUM ( CASE WHEN STAT_TIME = to_char(sysdate-1,'yyyy-mm-dd') THEN INDEX_VALUE ELSE 0 END) activeUserNumOf1
        FROM DMP_SELECT.STAT_RESULT
        WHERE INDEX_NAME = 'activeNum'
        AND STAT_TIME_SPAN = 'D'
        <![CDATA[
			       and STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        GROUP BY INDEX_SOURCE
    </select>

</mapper>
