<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.combine.CombinationAnalysisDao">
    <select id="getRegisterAndActiveIndexOfDate" resultType="AnalysisIndex" parameterType="QueryPara">
        SELECT
        CASE WHEN INDEX_SOURCE LIKE '%e宝%' THEN '国寿e宝' ELSE INDEX_SOURCE END indexSource,
        SUM (CASE WHEN INDEX_NAME = 'registerNum' THEN INDEX_VALUE ELSE 0 END) registerNum,
        SUM (CASE WHEN INDEX_NAME = 'activeNum' THEN INDEX_VALUE ELSE 0 END) activeNum,min(#{startDate}) statDate
        FROM  DMP_SELECT.STAT_RESULT
        WHERE STAT_TIME=#{startDate} AND INDEX_NAME IN ('registerNum', 'activeNum') AND STAT_TIME_SPAN = 'D' AND index_source not like '%e宝%'
        GROUP BY CASE WHEN INDEX_SOURCE LIKE '%e宝%' THEN '国寿e宝' ELSE INDEX_SOURCE END
    </select>


    <select id="getRegisterListOfMonth" resultType="AnalysisIndex" parameterType="QueryPara">
        SELECT
        CASE WHEN INDEX_SOURCE LIKE '%e宝%' THEN '国寿e宝' ELSE INDEX_SOURCE END indexSource,
        SUM (CASE WHEN INDEX_NAME = 'registerNum' THEN INDEX_VALUE ELSE 0 END) registerNum,min(#{startDate}) statDate
        FROM  DMP_SELECT.STAT_RESULT
        WHERE STAT_TIME>=concat(#{startDate},'-01')
        <![CDATA[
              AND STAT_TIME<=concat(#{startDate},'-31')
        ]]>
        AND INDEX_NAME = 'registerNum' AND STAT_TIME_SPAN = 'D' AND index_source not like '%e宝%'
        GROUP BY CASE WHEN INDEX_SOURCE LIKE '%e宝%' THEN '国寿e宝' ELSE INDEX_SOURCE END
    </select>

    <select id="getActiveListOfMonth" resultType="AnalysisIndex" parameterType="QueryPara">
        SELECT
        CASE WHEN T1.INDEX_SOURCE LIKE '%e宝%' THEN '国寿e宝' ELSE T1.INDEX_SOURCE END indexSource,T1.INDEX_VALUE activeNum,#{startDate} statDate
        FROM ( SELECT INDEX_SOURCE,INDEX_VALUE
		FROM
			DMP_SELECT.STAT_RESULT
		WHERE
			INDEX_NAME = 'activeNum'
		AND STAT_TIME = concat(#{startDate},'-01')
		AND STAT_TIME_SPAN = 'M' AND INDEX_SOURCE != '国寿e宝'
		ORDER BY
			CREATE_TIME DESC
	    ) T1 WHERE ROWNUM
	    <![CDATA[
                    <=
        ]]>
	    (
	    SELECT
			COUNT (DISTINCT index_source)
		FROM
			DMP_SELECT.STAT_RESULT
		WHERE
			index_name = 'activeNum'
		AND stat_time = concat(#{startDate},'-01')
		AND stat_time_span = 'M' AND INDEX_SOURCE != '国寿e宝'
	    )
    </select>
</mapper>
