<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.InitDao">
    <select id="getNewUserSource" resultType="UserSource">
        SELECT
              SYS_SRC_CODE userSource,SYS_SRC_NAME userSourceName,old_user_source oldUserSource
        FROM
              DMP_USRCENTER.T_SYS_SRC WHERE SYS_SRC_CODE LIKE '009%'
    </select>

    <select id="getNewUserSourceOfAll" resultType="UserSource">
        SELECT
        SYS_SRC_CODE userSource,SYS_SRC_NAME userSourceName
        FROM
        DMP_USRCENTER.T_SYS_SRC
    </select>


    <select id="getOldUserSource" resultType="UserSource">
        SELECT
        OLD_USER_SOURCE userSource,SYS_SRC_NAME userSourceName
        FROM
        DMP_USRCENTER.T_SYS_SRC WHERE SYS_SRC_CODE LIKE '009%'
    </select>

    <select id="getOldUserSourceOfAll" resultType="UserSource">
        SELECT
        OLD_USER_SOURCE userSource,SYS_SRC_NAME userSourceName
        FROM
        DMP_USRCENTER.T_SYS_SRC
    </select>

    <insert id="updateDataStatus" parameterType="java.util.List">
        INSERT INTO DMP_SELECT.DATA_STATUS
        (STAT_TIME,STAT_TIME_SPAN, INDEX_NAME, INDEX_DESC, EFFECTED_ROW_NUM, CREATE_TIME,UPDATE_TIME)
        SELECT t1.statTime,t1.statTimeSpan,t1.indexName,t1.indexDesc,t1.effectedRowNum,t1.createTime,t1.updateTime
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.statTime,jdbcType=VARCHAR} statTime,
            #{item.statTimeSpan,jdbcType=VARCHAR} statTimeSpan,
            #{item.indexName,jdbcType=VARCHAR} indexName,
            #{item.indexDesc,jdbcType=VARCHAR} indexDesc,
            #{item.effectedRowNum,jdbcType=NUMERIC} effectedRowNum,
            sysdate createTime,
            sysdate updateTime
            FROM dual
        </foreach>
        ) t1
    </insert>

    <select id="getUpdateResult" resultType="UpdateResult">
        SELECT DISTINCT INDEX_NAME indexName FROM DMP_SELECT.DATA_STATUS
        WHERE  INDEX_NAME NOT LIKE 'fupin%'
        AND
        <![CDATA[
			        CREATE_TIME >= TO_DATE (CONCAT (TO_CHAR (SYSDATE, 'yyyy-mm-dd'),' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
		        ]]>
        <![CDATA[
                    and CREATE_TIME <= TO_DATE (CONCAT (TO_CHAR (SYSDATE, 'yyyy-mm-dd'),' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        ]]>
    </select>

    <select id="getFupinUpdateResult" resultType="UpdateResult">
        SELECT DISTINCT INDEX_NAME indexName FROM DMP_SELECT.DATA_STATUS
        WHERE
        <![CDATA[
			        CREATE_TIME >= TO_DATE (CONCAT (TO_CHAR (SYSDATE, 'yyyy-mm-dd'),' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
		        ]]>
        <![CDATA[
                    and CREATE_TIME <= TO_DATE (CONCAT (TO_CHAR (SYSDATE, 'yyyy-mm-dd'),' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        ]]>
        AND INDEX_NAME LIKE 'fupin%'
    </select>
</mapper>
