<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.InitDao">
    <select id="getNewUserSource" resultType="UserSource">
        SELECT
              SYS_SRC_CODE userSource,SYS_SRC_NAME userSourceName
        FROM
              DMP_USRCENTER.T_SYS_SRC WHERE SYS_SRC_CODE LIKE '009%'
    </select>

    <select id="getOldUserSource" resultType="UserSource">
        SELECT
        OLD_USER_SOURCE userSource,SYS_SRC_NAME userSourceName
        FROM
        DMP_USRCENTER.T_SYS_SRC WHERE SYS_SRC_CODE LIKE '009%'
    </select>

    <select id="getOldUserSourceOfAll" resultType="UserSource">
        SELECT
        OLD_USER_SOURCE userSource,SYS_SRC_NAME userSourceName
        FROM
        DMP_USRCENTER.T_SYS_SRC
    </select>
</mapper>
