<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.user.LogUserDao">
    <select id="findUser" resultType="LogUser" parameterType="LogUser">
        SELECT USERNAME username,PASSWORD password,RESOURCES resources
        FROM DMP_SELECT.SYS_USER
        WHERE  username= #{username} AND  password=#{password} AND ISVALID='1'
    </select>

    <select id="findUserResourcesUsingName" resultType="LogUser" parameterType="LogUser">
        SELECT USERNAME username,RESOURCES resources
        FROM DMP_SELECT.SYS_USER
        WHERE  username= #{username} AND ISVALID='1'
    </select>

    <select id="getAllValidUserInfo" resultType="java.util.List" parameterType="LogUser">
        SELECT USERNAME username,PASSWORD password,RESOURCES resource
        FROM
	    DMP_SELECT.SYS_USER WHERE ISVALID='1'
    </select>

</mapper>
