<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.fupin.OrderStatDao">

    <select id="getOrderStatListForTimeSpanFromStatTable" resultType="OrderStat" parameterType="QueryPara">
        SELECT p.id productId,p.NAME productName,count(*) orderNum,sum(og.number) goodsNum,sum(ob.money_amount)
        orderAmount,
        round(sum(ob.money_amount)/count(*),2) orderAverage
        FROM order_book ob
        INNER JOIN order_goods og ON ob.order_no = og.order_no
        AND ob. STATUS IN (3, 4, 5)
        AND ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                    AND ob.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        INNER JOIN product p ON og.product_id = p.id AND p.fuping = 1
        <if test="whereCondition != null and whereCondition != ''">
            AND p.id IN ${whereCondition}
        </if>
        GROUP BY p.id,p. NAME ORDER BY orderNum DESC
    </select>

    <select id="getOrderStatListForTimeSpanTrendFromStatTable" resultType="OrderStat" parameterType="QueryPara">
         SELECT '所有商品' productName,
          count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 7 DAY),1,NULL)) orderNum7,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 6 DAY),1,NULL)) orderNum6,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 5 DAY),1,NULL)) orderNum5,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 4 DAY),1,NULL)) orderNum4,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 3 DAY),1,NULL)) orderNum3,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 2 DAY),1,NULL)) orderNum2,
         count(IF(date(ob.create_time)=DATE_SUB(CURDATE(),INTERVAL 1 DAY),1,NULL)) orderNum1
         FROM order_book ob
        INNER JOIN order_goods og ON ob.order_no = og.order_no
        AND ob. STATUS IN (3, 4, 5)
        AND ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                    AND ob.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        INNER JOIN product p ON og.product_id = p.id AND p.fuping = 1
        GROUP BY '所有商品'
    </select>

    <select id="getOrderProductList" resultType="OrderStat">
        SELECT p.id productId,p.NAME productName
        FROM order_book ob
        INNER JOIN order_goods og ON ob.order_no = og.order_no
        AND ob. STATUS IN (3, 4, 5)
        INNER JOIN product p ON og.product_id = p.id AND p.fuping = 1
        GROUP BY p.id,p. NAME
    </select>

    <select id="getOnlineRetailOrderIPList" resultType="OrderStat" parameterType="QueryPara">
        SELECT date(create_time) statDate,create_ip ip,'D' statDateSpan
        FROM order_book ob
        WHERE ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                    AND ob.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        AND ob.seller_id IN ${whereCondition} AND ob.status not IN (6,7,8) AND LENGTH(ob.create_ip)>0
    </select>


    <select id="getOnlineGroupBuyOrderIPList" resultType="OrderStat" parameterType="QueryPara">
        SELECT date(o.create_time) statDate,GROUP_CONCAT(DISTINCT o.create_ip) ip,'D' statDateSpan
        FROM jicai_order o INNER JOIN jicai_order_goods g ON o.order_no = g.jicai_order_no
        WHERE o.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                    AND o.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        AND o.seller_id IN ${whereCondition} AND o.status IN (3, 4, 5, 6, 7) AND LENGTH(o.create_ip)>0 AND g.status in(0,2) AND o.order_type = 0 GROUP BY o.order_no
    </select>

    <select id="getOrderStatCompanyDistributeList" resultType="OrderStat" parameterType="QueryPara">
        SELECT DISTRIBUTE_NAME disName,sum(INDEX_VALUE) indexValue
        FROM DMP_SELECT.FUPIN_DISTRIBUTE_RESULT
        WHERE
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        AND DISTRIBUTE_TYPE='2'  AND INDEX_NAME='fupinOrderIPInfo'
        GROUP BY DISTRIBUTE_NAME ORDER BY sum(index_value) DESC
    </select>


    <select id="getOrderStatLocationDistributeList" resultType="OrderStat" parameterType="QueryPara">
        SELECT DISTRIBUTE_NAME disName,sum(INDEX_VALUE) indexValue
        FROM DMP_SELECT.FUPIN_DISTRIBUTE_RESULT
        WHERE
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        AND DISTRIBUTE_TYPE='1'  AND INDEX_NAME='fupinOrderIPInfo'
        GROUP BY DISTRIBUTE_NAME ORDER BY sum(index_value) DESC
    </select>

    <select id="getFuPinSellerIDList" resultType="java.lang.String">
        SELECT SELLER_ID FROM FUPIN_SELLER_INFO
    </select>

    <select id="getFuPinSellerNameList" resultType="java.lang.String">
        SELECT trim(SELLER_NAME) FROM FUPIN_SELLER_INFO
    </select>

    <select id="getOrderStatListForTimeSpan" resultType="OrderStat" parameterType="QueryPara">

    </select>

    <select id="getOrderAmountListForSellerDimension" resultType="OrderStat" parameterType="QueryPara">
        select t.sellerName sellerName,sum(t.orderNum) orderNum,sum(t.orderAmount) orderAmount
        FROM
        ( SELECT trim(onlineRetail.seller_name) sellerName,count(*) orderNum,sum(onlineRetail.money_amount) orderAmount
        FROM
        (
        SELECT ob.order_no ,s.seller_name,ob.money_amount
        FROM order_book ob INNER JOIN seller s ON ob.seller_id = s.id
        AND ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                        AND ob.create_time <= concat(#{endDate},' 23:59:59')
            ]]>
        AND ob.STATUS NOT IN (6, 7, 8)
        AND ob.seller_id IN ${whereCondition} INNER JOIN order_goods og ON ob.order_no=og.order_no AND og.product_name
        NOT LIKE '%国寿丹泉%'
        GROUP BY ob.order_no
        ) onlineRetail GROUP BY trim(onlineRetail.seller_name)
        UNION ALL
        SELECT trim(onlineJiCai.seller_name) sellerName,count(*) orderNum,sum(onlineJiCai.money_amount) orderAmount
        FROM
        (
        SELECT jicaio.order_no,s.seller_name,jicaio.money_amount
        FROM jicai_order jicaio INNER JOIN seller s ON jicaio.seller_id = s.id
        AND jicaio.order_type = 0
        AND jicaio. STATUS IN (3, 4, 5, 6, 7)
        AND jicaio.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                        AND jicaio.create_time <= concat(#{endDate},' 23:59:59')
            ]]>
        AND jicaio.seller_id IN ${whereCondition}
        INNER JOIN jicai_order_goods jicaiog ON jicaio.order_no = jicaiog.jicai_order_no AND jicaiog.product_name NOT
        LIKE '%国寿丹泉%'
        AND jicaiog. STATUS IN (0, 2)
        GROUP BY jicaio.order_no
        ) onlineJiCai
        GROUP BY trim(onlineJiCai.seller_name)
        ) t GROUP BY t.sellerName
    </select>

    <select id="getOrderAmountListForAreaOfOfflineMail" resultType="OrderStat" parameterType="QueryPara">
        select
        CASE seller_area WHEN '内蒙乌兰察布' THEN '乌兰察布' WHEN '广西省天等' THEN '天等' WHEN '广西省龙州' THEN '龙州' WHEN '湖北省丹江口' THEN '丹江口' WHEN '湖北省郧西' THEN '郧西'
        ELSE '线下邮件未知地区' END  area,count(DISTINCT seq) orderNum,sum(money_amount) orderAmount
        FROM
        offline_fupin WHERE status=0
        AND
        <if test="startDate != null and startDate != '' and startDate == '2018-01-01'">
            order_date >= '2017-12-29'
        </if>
        <if test="startDate != null and startDate != '' and startDate != '2018-01-01'">
            order_date >= #{startDate}
        </if>
        <![CDATA[
                    AND order_date <= #{endDate}
        ]]>
        AND product_name NOT LIKE '%国寿丹泉%'
        GROUP BY seller_area
    </select>

    <select id="getFuPinSellerAreaList" resultType="OrderStat">
        SELECT seller_name sellerName,area area FROM FUPIN_SELLER_INFO
    </select>

    <select id="getOnlineOrderFromToAreaList" resultType="OrderStat" parameterType="QueryPara">
        SELECT
        date(ob.create_time) statDate,ob.create_ip ip,ma.province_name province
        FROM
        order_book ob
        INNER JOIN member_address ma ON ob.member_address_id = ma.id
        AND ob.jd_order_id = 0
        AND LENGTH(ob.create_ip) > 0
        AND ob. STATUS NOT IN (6, 7, 8)
        AND ob.seller_id IN ${whereCondition}
        AND ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                        AND ob.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        UNION ALL
        SELECT
        date(ob.create_time) statDate,ob.create_ip ip,mak.province_name province
        FROM
        order_book ob
        INNER JOIN member_address_kpl mak ON ob.member_address_id = mak.id
        AND ob.jd_order_id > 0
        AND LENGTH(ob.create_ip) > 0
        AND ob. STATUS NOT IN (6, 7, 8)
        AND ob.seller_id IN ${whereCondition}
        AND ob.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
                    AND ob.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        UNION ALL
        SELECT
        GROUP_CONCAT(DISTINCT date(jicaio.create_time)) statDate,GROUP_CONCAT(DISTINCT jicaio.create_ip) ip, group_concat(DISTINCT jicaima.province_name) province
        FROM
        jicai_order jicaio
        INNER JOIN jicai_member_address jicaima ON jicaio.address_id = jicaima.id
        AND LENGTH(jicaio.create_ip) > 0
        AND jicaio. STATUS IN (3, 4, 5, 6, 7)
        AND jicaio.create_time >= concat(#{startDate},' 00:00:00')
        <![CDATA[
        AND jicaio.create_time <= concat(#{endDate},' 23:59:59')
        ]]>
        AND jicaio.seller_id IN ${whereCondition}
        INNER JOIN jicai_order_goods jicaiog ON jicaio.order_no = jicaiog.jicai_order_no
        AND jicaiog. STATUS IN (0, 2)
        GROUP BY
        jicaio.order_no
    </select>

    <insert id="updateOrderStat" parameterType="java.util.List">
    </insert>

    <select id="getOrderFromToInfoList" resultType="OrderStat" parameterType="QueryPara">
        SELECT SOURCE source,TARGET target,sum(INDEX_VALUE) indexValue
        FROM DMP_SELECT.FUPIN_FLOW_STAT
        WHERE
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        AND STAT_TIME_SPAN='D' AND INDEX_NAME='fupinOrderFromToAreaInfo'
        <if test="whereCondition != null and whereCondition != ''">
            AND SOURCE IN ${whereCondition}
        </if>
        <if test="whereCondition1 != null and whereCondition1 != ''">
            AND TARGET IN ${whereCondition1}
        </if>
        AND SOURCE!=TARGET
        GROUP BY SOURCE,TARGET ORDER BY sum(index_value) DESC
    </select>

    <select id="getOrderFromInfoList" resultType="OrderStat" parameterType="QueryPara">
        SELECT SOURCE source,sum(INDEX_VALUE) indexValue
        FROM DMP_SELECT.FUPIN_FLOW_STAT
        WHERE
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        AND STAT_TIME_SPAN='D' AND INDEX_NAME='fupinOrderFromToAreaInfo'
        <if test="whereCondition != null and whereCondition != ''">
            AND SOURCE IN ${whereCondition}
        </if>
        <if test="whereCondition1 != null and whereCondition1 != ''">
            AND TARGET IN ${whereCondition1}
        </if>
        GROUP BY SOURCE
    </select>

    <select id="getOrderToInfoList" resultType="OrderStat" parameterType="QueryPara">
        SELECT TARGET target,sum(INDEX_VALUE) indexValue
        FROM DMP_SELECT.FUPIN_FLOW_STAT
        WHERE
        <![CDATA[
			        STAT_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and STAT_TIME <= #{endDate}
        ]]>
        AND STAT_TIME_SPAN='D' AND INDEX_NAME='fupinOrderFromToAreaInfo'
        <if test="whereCondition != null and whereCondition != ''">
            AND SOURCE IN ${whereCondition}
        </if>
        <if test="whereCondition1 != null and whereCondition1 != ''">
            AND TARGET IN ${whereCondition1}
        </if>
        GROUP BY TARGET
    </select>

    <select id="getFromList" resultType="OrderStat" parameterType="QueryPara">
        SELECT DISTINCT SOURCE source
        FROM
        DMP_SELECT.FUPIN_FLOW_STAT
    </select>

    <select id="getToList" resultType="OrderStat" parameterType="QueryPara">
        SELECT DISTINCT target target
        FROM
        DMP_SELECT.FUPIN_FLOW_STAT
    </select>

    <insert id="updateOrderIPInfo" parameterType="java.util.List">
        INSERT INTO DMP_SELECT.FUPIN_DISTRIBUTE_RESULT
        (STAT_TIME,STAT_TIME_SPAN, INDEX_NAME, DISTRIBUTE_TYPE, DISTRIBUTE_NAME,INDEX_VALUE,CREATE_TIME,UPDATE_TIME)
        SELECT t1.statDate,t1.statDateSpan,t1.indexName,t1.disType,t1.disName,t1.indexValue,t1.createTime,t1.updateTime
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.statDate,jdbcType=VARCHAR} statDate,
            #{item.statDateSpan,jdbcType=VARCHAR} statDateSpan,
            #{item.indexName,jdbcType=VARCHAR} indexName,
            #{item.disType,jdbcType=VARCHAR} disType,
            #{item.disName,jdbcType=VARCHAR} disName,
            #{item.indexValue,jdbcType=NUMERIC} indexValue,
            sysdate createTime,
            sysdate updateTime
            FROM dual
        </foreach>
        ) t1
    </insert>

    <insert id="updateOrderFromToAreaInfo" parameterType="java.util.List">
        INSERT INTO DMP_SELECT.FUPIN_FLOW_STAT
        (STAT_TIME,STAT_TIME_SPAN, INDEX_NAME, SOURCE, TARGET,INDEX_VALUE,CREATE_TIME,UPDATE_TIME)
        SELECT t1.statDate,t1.statDateSpan,t1.indexName,t1.from1,t1.to1,t1.indexValue,t1.createTime,t1.updateTime
        FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.statDate,jdbcType=VARCHAR} statDate,
            #{item.statDateSpan,jdbcType=VARCHAR} statDateSpan,
            #{item.indexName,jdbcType=VARCHAR} indexName,
            #{item.from,jdbcType=VARCHAR} from1,
            #{item.to,jdbcType=VARCHAR} to1,
            #{item.indexValue,jdbcType=NUMERIC} indexValue,
            sysdate createTime,
            sysdate updateTime
            FROM dual
        </foreach>
        ) t1
    </insert>
</mapper>
