<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.salesman.SalesmanRelatedDao">

    <select id="getOldUserIdListUsingSalesmanNo" resultType="java.lang.String" parameterType="java.util.List">
        SELECT
        B.OLDUSER_ID||','||A.ACCOUNT_CODE
        FROM
        DMP_USRCENTER.T_USER_EBUSINESS_ACCOUNT A
        INNER JOIN DMP_USRCENTER.T_USER B ON A .USER_ID = B.USER_ID
        WHERE A.ACCOUNT_CODE IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getSalesmanRelatedListUsingOldUserId" resultType="SalesmanRelated" parameterType="java.util.List">
        SELECT t1.account_no oldUserId,t1.user_name userName,t1.cert_code identifyNo,t3.mobile mobile,t2.bank_account bankAccount,t2.bank_name bankName
        from YZT.pt_user_info t1 INNER join YZT.ep_account_bank_bind t2 on t1.id = t2.user_id and t2.bank_status = '1' join YZT.pt_mobile_bind t3 on t1.id = t3.user_id
        WHERE account_no IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>
