<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.chinalife.ecdata.dao.sqlDao.user.UserRetentionSQLDao">

    <insert id="insertListToDB" parameterType="java.util.List">
        INSERT INTO DMP_SELECT.RETENTION_RESULT
        (REGISTER_TIME,INDEX_SOURCE, RETENTION_TIME, INDEX_VALUE,CREATE_TIME,UPDATE_TIME)
        SELECT t1.registerTime,t1.userSource,t1.retentionTime,t1.retentionNum,t1.createTime,t1.updateTime FROM (
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
            #{item.registerTime,jdbcType=VARCHAR} registerTime,
            #{item.userSource,jdbcType=VARCHAR} userSource,
            #{item.retentionTime,jdbcType=VARCHAR} retentionTime,
            #{item.retentionNum,jdbcType=NUMERIC} retentionNum,
            sysdate createTime,
            sysdate updateTime
            FROM dual
        </foreach>
        ) t1
    </insert>

    <select id="getUserRetentionList" resultType="UserRetention"
            parameterType="QueryPara">
        SELECT RR.REGISTER_TIME registerTime,RR.INDEX_SOURCE userSource,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 30 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate30,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 14 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate14,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 7 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate07,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 6 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate06,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 5 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate05,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 4 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate04,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 3 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate03,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 2 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate02,
        SUM (CASE WHEN TO_DATE (RR.RETENTION_TIME,'yyyy-mm-dd') - TO_DATE (RR.REGISTER_TIME,'yyyy-mm-dd') = 1 THEN NVL (RR.INDEX_VALUE / SR.INDEX_VALUE,0) ELSE NULL END ) retentionRate01
        FROM DMP_SELECT.RETENTION_RESULT RR LEFT JOIN DMP_SELECT.STAT_RESULT SR ON RR.REGISTER_TIME = SR.STAT_TIME AND RR.INDEX_SOURCE = SR.INDEX_SOURCE
             AND SR.INDEX_NAME = 'registerNum' AND SR.STAT_TIME_SPAN = 'D'
        WHERE
        <![CDATA[
			        RR.REGISTER_TIME >= #{startDate}
		        ]]>
        <![CDATA[
                    and RR.REGISTER_TIME <= #{endDate}
        ]]>
        <if test="userSource != null and userSource != ''">
            AND RR.INDEX_SOURCE in ${userSource}
        </if>
        GROUP BY RR.REGISTER_TIME,RR.INDEX_SOURCE ORDER BY RR.REGISTER_TIME,retentionRate01 DESC
    </select>

    <select id="getOldUserIdList" resultType="java.lang.String" parameterType="QueryPara">
        SELECT
        USERID
        FROM CHINALIFEEC.GE_USER_PERSONAL
        WHERE
        <![CDATA[
			        makedate >= TO_DATE(concat(#{queryDate},' 00:00:00'),'yyyy-mm-dd hh24:mi:ss')
		        ]]>
        <![CDATA[
                    and makedate <= TO_DATE(concat(#{queryDate},' 23:59:59'),'yyyy-mm-dd hh24:mi:ss')
        ]]>
        AND usersource = #{userSource}
    </select>

    <select id="getExistedRetentionRowNum" resultType="java.lang.Integer" parameterType="QueryPara">
        SELECT
        COUNT(*)
        FROM DMP_SELECT.RETENTION_RESULT
    </select>

    <select id="getRegisterNumFromStatResult" resultType="java.lang.Integer" parameterType="QueryPara">
        SELECT
        INDEX_VALUE
        FROM DMP_SELECT.STAT_RESULT
        WHERE STAT_TIME = #{queryDate} AND INDEX_SOURCE = #{userSource} AND INDEX_NAME = 'registerNum' AND STAT_TIME_SPAN = 'D'
    </select>
</mapper>
